
#u39681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39681 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:6361px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(324deg);
  -moz-transform:rotate(324deg);
  -ms-transform:rotate(324deg);
  transform:rotate(324deg);
}
#u39681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39682 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:6238px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(142deg);
  -moz-transform:rotate(142deg);
  -ms-transform:rotate(142deg);
  transform:rotate(142deg);
}
#u39682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39684 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:6145px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39684 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39685 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:6155px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(169deg);
  -moz-transform:rotate(169deg);
  -ms-transform:rotate(169deg);
  transform:rotate(169deg);
}
#u39685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39687 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:6341px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39687 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39688 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:6335px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(211deg);
  -moz-transform:rotate(211deg);
  -ms-transform:rotate(211deg);
  transform:rotate(211deg);
}
#u39688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39690 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:6147px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39690 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39691 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:6023px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(78deg);
  -moz-transform:rotate(78deg);
  -ms-transform:rotate(78deg);
  transform:rotate(78deg);
}
#u39691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39692 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:6132px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(256deg);
  -moz-transform:rotate(256deg);
  -ms-transform:rotate(256deg);
  transform:rotate(256deg);
}
#u39692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39694 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:6315px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39694 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39695 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:6346px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(219deg);
  -moz-transform:rotate(219deg);
  -ms-transform:rotate(219deg);
  transform:rotate(219deg);
}
#u39695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39696 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:6332px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(37deg);
  -moz-transform:rotate(37deg);
  -ms-transform:rotate(37deg);
  transform:rotate(37deg);
}
#u39696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39698 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:6050px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39698 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39699 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:6066px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(149deg);
  -moz-transform:rotate(149deg);
  -ms-transform:rotate(149deg);
  transform:rotate(149deg);
}
#u39699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39701 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:6280px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39701 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39702 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:6194px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(122deg);
  -moz-transform:rotate(122deg);
  -ms-transform:rotate(122deg);
  transform:rotate(122deg);
}
#u39702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39703 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:6264px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(300deg);
  -moz-transform:rotate(300deg);
  -ms-transform:rotate(300deg);
  transform:rotate(300deg);
}
#u39703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u39705 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:6042px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u39705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u39707 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:6307px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u39707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u39709 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:6273px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u39709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u39711 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:6139px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u39711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u39713 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:6273px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u39713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u39715 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:6333px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u39715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u39717 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:6138px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u39717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u39719 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:6139px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u39719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u39721 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:6360px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u39721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u39723 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:6042px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u39723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u39725 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:6333px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u39725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u39726 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:6138px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u39726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39728 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:6208px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39728 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39730 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:6212px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39730 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39732 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:6197px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39732 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39733 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:6200px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(351deg);
  -moz-transform:rotate(351deg);
  -ms-transform:rotate(351deg);
  transform:rotate(351deg);
}
#u39733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39734 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:6230px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(33deg);
  -moz-transform:rotate(33deg);
  -ms-transform:rotate(33deg);
  transform:rotate(33deg);
}
#u39734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39735 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:6191px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(331deg);
  -moz-transform:rotate(331deg);
  -ms-transform:rotate(331deg);
  transform:rotate(331deg);
}
#u39735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39737 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:6179px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39737 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39738 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:6193px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(159deg);
  -moz-transform:rotate(159deg);
  -ms-transform:rotate(159deg);
  transform:rotate(159deg);
}
#u39738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u39739 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:6202px;
  width:40px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(337deg);
  -moz-transform:rotate(337deg);
  -ms-transform:rotate(337deg);
  transform:rotate(337deg);
}
#u39739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u39741 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:6170px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u39741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39743 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:6197px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39743 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u39744 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:6405px;
  width:112px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u39744 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39744_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u39746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u39746 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:5923px;
  width:31px;
  height:31px;
  display:flex;
  opacity:0.6;
}
#u39746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u39747 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:5974px;
  width:31px;
  height:31px;
  display:flex;
  opacity:0.6;
}
#u39747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u39748 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:5943px;
  width:26px;
  height:26px;
  display:flex;
  opacity:0.6;
}
#u39748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u39749 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:5928px;
  width:41px;
  height:41px;
  display:flex;
  opacity:0.6;
}
#u39749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u39750 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:5959px;
  width:25px;
  height:25px;
  display:flex;
  opacity:0.6;
}
#u39750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u39751 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:5984px;
  width:31px;
  height:31px;
  display:flex;
  opacity:0.6;
}
#u39751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u39752 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:5938px;
  width:20px;
  height:20px;
  display:flex;
  opacity:0.6;
}
#u39752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u39753 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:5969px;
  width:31px;
  height:31px;
  display:flex;
  opacity:0.6;
}
#u39753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u39754 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:5923px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u39754 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39754_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u39757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:142px;
}
#u39757 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:7137px;
  width:142px;
  height:142px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u39757 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u39758 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:7187px;
  width:102px;
  height:43px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u39758 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:142px;
}
#u39761 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:6880px;
  width:142px;
  height:142px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u39761 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u39762 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:6930px;
  width:102px;
  height:43px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u39762 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:142px;
}
#u39765 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:7272px;
  width:142px;
  height:142px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u39765 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u39766 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:7322px;
  width:102px;
  height:43px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u39766 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
