
#u7012 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:9987px;
  width:55px;
  height:55px;
  display:flex;
}
#u7012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u7013 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:9898px;
  width:55px;
  height:55px;
  display:flex;
}
#u7013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u7014 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:9807px;
  width:55px;
  height:55px;
  display:flex;
}
#u7014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u7015 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:9897px;
  width:55px;
  height:55px;
  display:flex;
}
#u7015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:2px;
}
#u7016 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:9676px;
  width:1010px;
  height:1px;
  display:flex;
}
#u7016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u7018 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:9765px;
  width:68px;
  height:68px;
  display:flex;
  opacity:0.7;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u7018 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:6px;
}
#u7019 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:9825px;
  width:18px;
  height:6px;
  display:flex;
  opacity:0.7;
}
#u7019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7021 {
  border-width:0px;
  position:absolute;
  left:969px;
  top:9820px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7021 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7023 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:9903px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7023 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7025 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:9743px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7025 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7027 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:9863px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7027 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7029 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:9894px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7029 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7031 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:9903px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7031 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u7033 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:9856px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u7033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u7035 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:9894px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u7035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7038 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:9844px;
  width:60px;
  height:60px;
  display:flex;
  opacity:0.7;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u7038 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:6px;
}
#u7039 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:9849px;
  width:18px;
  height:6px;
  display:flex;
  -webkit-transform:rotate(150deg);
  -moz-transform:rotate(150deg);
  -ms-transform:rotate(150deg);
  transform:rotate(150deg);
  opacity:0.7;
}
#u7039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7041 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:9824px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7041 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u7043 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:9818px;
  width:17px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u7043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:75px;
  height:19px;
}
#u7044p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:72px;
  height:6px;
  -webkit-transform:rotate(0.394795844987055deg);
  -moz-transform:rotate(0.394795844987055deg);
  -ms-transform:rotate(0.394795844987055deg);
  transform:rotate(0.394795844987055deg);
}
#u7044p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:6px;
}
#u7044p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-9.60520415501295deg);
  -moz-transform:rotate(-9.60520415501295deg);
  -ms-transform:rotate(-9.60520415501295deg);
  transform:rotate(-9.60520415501295deg);
}
#u7044p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7044p002 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-179.605204155013deg);
  -moz-transform:rotate(-179.605204155013deg);
  -ms-transform:rotate(-179.605204155013deg);
  transform:rotate(-179.605204155013deg);
}
#u7044p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7044 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:9384px;
  width:66px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(9.60520415501295deg);
  -moz-transform:rotate(9.60520415501295deg);
  -ms-transform:rotate(9.60520415501295deg);
  transform:rotate(9.60520415501295deg);
}
#u7044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7045_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:20px;
  height:129px;
}
#u7045 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:9396px;
  width:10px;
  height:119px;
  display:flex;
}
#u7045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:120px;
  height:19px;
}
#u7046p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:116px;
  height:6px;
  -webkit-transform:rotate(0.157339864587925deg);
  -moz-transform:rotate(0.157339864587925deg);
  -ms-transform:rotate(0.157339864587925deg);
  transform:rotate(0.157339864587925deg);
}
#u7046p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:6px;
}
#u7046p001 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-163.842660135412deg);
  -moz-transform:rotate(-163.842660135412deg);
  -ms-transform:rotate(-163.842660135412deg);
  transform:rotate(-163.842660135412deg);
}
#u7046p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7046p002 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-11px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(-179.842660135412deg);
  -moz-transform:rotate(-179.842660135412deg);
  -ms-transform:rotate(-179.842660135412deg);
  transform:rotate(-179.842660135412deg);
}
#u7046p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u7046 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:9366px;
  width:111px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(163.842660135412deg);
  -moz-transform:rotate(163.842660135412deg);
  -ms-transform:rotate(163.842660135412deg);
  transform:rotate(163.842660135412deg);
}
#u7046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(58, 62, 46, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7048 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:9703px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7048 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7049 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:9703px;
  width:32px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7049 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7049_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7051 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:9703px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7051 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7051_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(58, 62, 46, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7053 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:9743px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7053 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7054 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:9743px;
  width:32px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7054 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7054_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7056 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:9743px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7056 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7056_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(58, 62, 46, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7058 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:9783px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7058 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7059 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:9783px;
  width:32px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7059 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7059_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7061 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:9783px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7061 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7061_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u7062 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:9703px;
  width:63px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u7062 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7062_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7064 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:9823px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7064 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7065 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:9823px;
  width:32px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7065 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7065_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(119, 81, 27, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7067 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:9823px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7067 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(116, 128, 81, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7069 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:9369px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7069 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7070 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:9369px;
  width:32px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7070 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7070_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7072 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:9369px;
  width:32px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7072 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7072_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u7073 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:9863px;
  width:63px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u7073 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7073_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7075 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:9743px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7075 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(116, 128, 81, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7077 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:9983px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7077 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7078 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:9983px;
  width:144px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7078 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7078_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7080 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:9983px;
  width:64px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7080 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7080_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(116, 128, 81, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7082 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:9943px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7082 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7083 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:9943px;
  width:64px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7083 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7083_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7085 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:9943px;
  width:64px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7085 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7085_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(116, 128, 81, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7087 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:9863px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7087 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7088 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:9863px;
  width:32px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7088 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7088_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7090 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:9863px;
  width:64px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7090 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7090_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u7091 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:9903px;
  width:63px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u7091 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7091_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7092 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:9903px;
  width:32px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7092 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7092_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(119, 81, 27, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7094 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:9903px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7094 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7096 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:9903px;
  width:64px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7096 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7096_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u7097 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:9943px;
  width:63px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u7097 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7097_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u7098 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:9983px;
  width:63px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u7098 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7098_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7100 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:3600px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7100 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7101 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:3600px;
  width:32px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7101_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:102px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
}
#u7102 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:9548px;
  width:364px;
  height:102px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
}
#u7102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFF80;
  line-height:30px;
}
#u7103 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:9564px;
  width:32px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFF80;
  line-height:30px;
}
#u7103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7103_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7104 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:9601px;
  width:95px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7104_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7106 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:9601px;
  width:64px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u7106 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7106_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7107 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:9601px;
  width:144px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7107 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7107_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(119, 81, 27, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7109 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:6701px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7109 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(119, 81, 27, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7111 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:7255px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u7111 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  text-align:center;
}
#u7113 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:10156px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  text-align:center;
}
#u7113 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7113_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:2px;
}
#u7114 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:10166px;
  width:520px;
  height:1px;
  display:flex;
}
#u7114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:2px;
}
#u7115 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:10166px;
  width:520px;
  height:1px;
  display:flex;
}
#u7115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7116 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:10228px;
  width:48px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7116 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7116_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:292px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10266px;
  width:1200px;
  height:292px;
  display:flex;
}
#u7118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7119 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:10228px;
  width:48px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u7119 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7119_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
