
#u15722 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:12255px;
  width:441px;
  height:441px;
  display:flex;
}
#u15722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u15724 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:12361px;
  width:26px;
  height:26px;
  display:flex;
  opacity:0.3;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(242, 242, 242, 0.996078431372549);
}
#u15724 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u15726 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:12390px;
  width:26px;
  height:26px;
  display:flex;
  opacity:0.3;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u15726 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 1px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u15728 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:12667px;
  width:26px;
  height:26px;
  display:flex;
  opacity:0.3;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u15728 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 1px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u15730 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:12463px;
  width:26px;
  height:26px;
  display:flex;
  opacity:0.3;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u15730 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 1px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u15732 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:12282px;
  width:74px;
  height:74px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u15732 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u15734 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:12593px;
  width:74px;
  height:74px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u15734 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u15736 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:12439px;
  width:74px;
  height:74px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u15736 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15738 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:12255px;
  width:140px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15738 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15739 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:12255px;
  width:106px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15739 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15739_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15741 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:12255px;
  width:48px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15741 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15741_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15743 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:12375px;
  width:140px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15743 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15744 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:12375px;
  width:106px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15744 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15744_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15746 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:12375px;
  width:48px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15746 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15746_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15747 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:12375px;
  width:64px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15747 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15747_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15748_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:204px;
  height:5px;
}
#u15748 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:12459px;
  width:201px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-11.3172703445549deg);
  -moz-transform:rotate(-11.3172703445549deg);
  -ms-transform:rotate(-11.3172703445549deg);
  transform:rotate(-11.3172703445549deg);
  opacity:0.8;
}
#u15748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15750 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:12455px;
  width:140px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15750 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15751 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:12455px;
  width:106px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15751 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15751_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15753 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:12455px;
  width:48px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15753 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15753_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u15756 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:12388px;
  width:49px;
  height:49px;
  display:flex;
  opacity:0.7;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u15756 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:6px;
}
#u15757 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:12398px;
  width:18px;
  height:6px;
  display:flex;
  -webkit-transform:rotate(232deg);
  -moz-transform:rotate(232deg);
  -ms-transform:rotate(232deg);
  transform:rotate(232deg);
  opacity:0.7;
}
#u15757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15759 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:12370px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15759 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15761 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:12444px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15761 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15763 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:12431px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15763 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15765 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:12429px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15765 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15767 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:12409px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15767 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15769 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:12446px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15769 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15771 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:12423px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15771 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15773 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:12431px;
  width:30px;
  height:30px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15773 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u15775 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:12414px;
  width:17px;
  height:23px;
  display:flex;
  opacity:0.8;
}
#u15775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u15777 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:12424px;
  width:17px;
  height:23px;
  display:flex;
  opacity:0.8;
}
#u15777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(75, 121, 2, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15779 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:12122px;
  width:130px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15779 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15780 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:12122px;
  width:112px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15780 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15780_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u15781 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12295px;
  width:63px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u15781 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15781_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u15782 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12535px;
  width:63px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u15782 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15782_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u15783 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12255px;
  width:63px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u15783 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15783_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u15784 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12375px;
  width:63px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u15784 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15784_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u15785 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12455px;
  width:63px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u15785 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15785_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(75, 121, 2, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15787 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:12295px;
  width:130px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15787 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15788 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:12295px;
  width:160px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15788 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15788_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(75, 121, 2, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15790 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:12335px;
  width:130px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15790 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15791 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:12335px;
  width:32px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15791 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15791_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15793 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:12335px;
  width:64px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15793 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15793_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:100px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
}
#u15794 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:12596px;
  width:252px;
  height:100px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
}
#u15794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15795 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:12651px;
  width:48px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15795 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15795_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15797 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:12611px;
  width:64px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15797 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15797_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(75, 121, 2, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15799 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:12415px;
  width:130px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15799 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15800 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:12415px;
  width:64px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15800 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15800_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15802 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:12415px;
  width:64px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15802 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15802_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(75, 121, 2, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15804 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:12535px;
  width:130px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15804 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15805 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:12535px;
  width:128px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15805_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15807 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:12535px;
  width:64px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15807 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15807_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15809 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:12495px;
  width:140px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15809 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15810 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:12495px;
  width:106px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15810 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15810_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15812 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:12495px;
  width:48px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15812 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15812_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u15813 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12495px;
  width:63px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#81D3F8;
  line-height:30px;
}
#u15813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(75, 121, 2, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(249, 46, 71, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15815 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:12611px;
  width:130px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u15815 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15817 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:12651px;
  width:64px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FBE9CD;
  line-height:30px;
}
#u15817 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15817_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15818 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:12651px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15818 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15818_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  text-align:center;
}
#u15820 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:12709px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  text-align:center;
}
#u15820 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15820_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:2px;
}
#u15821 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:12719px;
  width:520px;
  height:1px;
  display:flex;
}
#u15821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:2px;
}
#u15822 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:12719px;
  width:520px;
  height:1px;
  display:flex;
}
#u15822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15823 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:12781px;
  width:48px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
  line-height:30px;
}
#u15823 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15823_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:292px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12819px;
  width:1200px;
  height:292px;
  display:flex;
}
#u15825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:47px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u15826 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:12773px;
  width:238px;
  height:47px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u15826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
